* {
    margin: 0;
}

html {
    font-size: 15px;
    font-weight: 700;
    font-family: 'roboto', sans-serif;
}

.mobile-header, .tablet-header {
    display: none;
}

.main-header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    margin: 0;
    background-color: white;
}

.logo {
    height: 36px
}

#right-nav {
    float: right;
}

ul {
    padding: 0;
}

li {
    display: inline;
    padding: 20px;
}

@media only screen and (max-width: 768px) and (min-width: 450px) {
    .main-header, .mobile-header {
        display: none;
    }
    .tablet-header {
        display: flex;
    }
}

@media only screen and (max-width: 449px) {
    .main-header, .tablet-header {
        display: none;
    }
    .mobile-header {
        display: flex;
    }
}

li a {
    text-decoration: none;
    color: #111;
}

.display {
    display: block;
    position: relative;
    top: 70px;
}

.desktop-image {
    width: 100%;
    z-index: 1;
}

.promo {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 14%;    
}

.large-text {
    font-size: 36px;
    padding:10px;
}

.small-text {
    font-size: 15px;
    padding: 10px;
}

@media only screen and (min-width: 1400px) {
    .large-text {
        font-size: 70px;
    }

    .small-text {
        font-size: 18px;
    }
}

@media only screen and (min-width: 975px) and (max-width: 1399px) {
    .large-text {
        font-size: 48px;
    }

    .small-text {
        font-size: 16px;
    }
}
